
@font-face {
    font-family: 'Right Grotesk Compact Dark';
    font-style: normal;
    font-weight: normal;
    src: local('Right Grotesk Compact Dark'), url('') format('opentype');
}

.rightG-compact-dark {
    font-family: 'Right Grotesk Compact Dark', sans-serif;
}
