@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Montserrat';
    src: url('./assets/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
}
@font-face {
  font-family: Sora;
  src: url("./assets/Sora/Sora-VariableFont_wght.ttf") format("truetype");
}

* {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
}


.color-black {
  color: #010101;
}
.color-light {
  color: #dddfd2
}
.bag-black {
  background-color: #010101;
}
.bag-light {
  background-color: #dddfd2;
}

.bag-accent {
  background-color: #545952;
}
.color-accent {
  color: #545952;
}
